#page-development {
  padding: 0 30px;
  margin-top: 60px;
  margin-bottom: 50px;

  article {
    padding: 0 10px;
    text-align: center;
  }

  &.container {
    min-height: calc(100vh - 172px);
  }

  h1 {
    margin: 0 0 15px;
    line-height: 1;
    text-align: center;
    font-size: $title-font-size;

    span {
      font-weight: normal;
      color: #666;
    }
  }
}
