// http://angrytools.com/gradient/
#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  visibility: hidden;

  .loader {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .loader,
  .loader::before {
    height: 5px;
  }

  &.visibllity {
    visibility: visible;

    .loader::before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      width: 10%;
      background: linear-gradient(45deg, rgba(111,78,195,0.1) 0%, rgba(111,78,195,0.7) 40%, rgba(111,78,195,1) 100%);
      animation: loading 0.5s ease-in 1;
      //background-color: #6F4EC3;
      //animation: loading 0.5s ease-in infinite;
    }
  }
}

@keyframes loading {
  100% {
    width: 200%;
  }
}