#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  background: #000;

  li {
    display: inline-block;
    margin-left: 20px;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#back {
  display: inline-block;
  margin-top: 7px;
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}
