$default-color: rgba(255, 255, 255, 0.5);
$active-color: rgba(255, 255, 255, 1);
$hover-color: rgba(255, 255, 255, 0.8);

#header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 28px;
  background: #202124;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  ul {
    height: 100%;
  }

  li {
    display: inline-block;
    height: 100%;
    margin-left: 20px;

    a {
      display: inline-block;
      position: relative;
      padding: 0 4px;
      min-width: 60px;
      height: 100%;
      line-height: 50px;
      text-decoration: none;
      text-align: center;
      color: $default-color;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        left: 50%;
        bottom: 0;
        background-color: $hover-color;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        color: $hover-color;

        body.pc & {
          &:after {
            width: 100%;
            left: 0;
          }
        }
      }

      &.active {
        color: $active-color;

        &:after {
          width: 100%;
          left: 0;
          background-color: $active-color;
        }
      }
    }
  }
}

#back {
  display: inline-block;
  margin-top: 2px;
  text-decoration: none;
  color: #fff;

  span {
    display: inline-block;
    margin-right: 8px;
  }

  &:hover {
    text-decoration: underline;
  }

  &[href='http://www.codejs.co.kr'] {
    visibility: hidden;
  }
}
