#top-button {
  position: fixed;
  bottom: 80px;
  right: -1px;
  display: none;
  width: 40px;
  height: 40px;
  background: $button-color-deafult;
  border: 0;
  border-radius: 2px;
  color: #fff;
  z-index: 100;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  &:hover {
    background: $button-color-default-hover;
  }

  .scrolled & {
    display: inline-block;
  }
}
