.button {
  display: inline-block;
  min-width: 180px;
  margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;

  &.small {
    min-width: 120px;
    padding: 4px 10px;
  }

  &.fill {
    background: $button-color-deafult;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    &:hover {
      background: $button-color-default-hover;

      &.with-icon {
        i {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  &.line {
    color: $button-color-deafult !important;
    border: solid 1px $button-color-deafult;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  // https://fontawesome.com/icons?d=gallery&m=free
  // https://speckyboy.com/custom-hover-click-effects-css-javascript/
  // https://html-css-js.com/css/generator/transform/
  &.with-icon {
    position: relative;
    padding-right: 6.5rem;

    i {
      position: absolute;
      top: 0;
      right: 0;

      width: 5rem;
      height: 100%;
      font-size: 2rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.small {
      padding-right: 5.6rem;
      i {
        width: 4.2rem;
      }
    }

    &.fill {
      i {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &.line {
      i {
        border-left: solid 1px rgba(0, 0, 0, 0.04);
        background: rgba(0, 0, 0, 0.02);
      }
    }
  }
}
