html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Noto Sans KR', 'Noto Sans', 'Malgun Gothic', sans-serif;
  background: #fff;
  color: #222;
}

.button-wrap {
  text-align: center;
}
