html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans KR', 'Noto Sans', 'Malgun Gothic', sans-serif;
  line-height: 1.6;
  color: #222;
  background: #fff;
  position: relative;
}

