.button {
  display: inline-block;
  min-width: 180px;
  margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  //border: solid 1px #333;
  border-radius: 8px;
  color: #fff;
  background: #3f5366;

  &:hover {
    background: #2C3946;
  }
}