$breakpoint-very-small: 424px;
$breakpoint-small: 500px;
$breakpoint-mid: 900px;
$breakpoint-base: 960px;

$title-font-size: 3.5rem;
$border-radius-base: 2px;
$box-shadow-base: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
$box-shadow-weak: 0 0 1px 0 rgba(0, 0, 0, 0.1);