@import "~statics/scss/modules/variables";

.thumbnail {
  position: relative;
  display: inline-block;
  width: 22.5%;
  min-height: 6vw;
  max-width: 300px;
  margin: 1.2%;
  box-shadow: $box-shadow-base;
  overflow: hidden;
  border-radius: $border-radius-base;
  text-decoration: none;
  font-size: 0;
  box-sizing: content-box;

  #page-development & {
    transition: transform 0.15s ease-out;

    &:hover {
      //transform: scale(1.02);
      transform: translate(0px, -5px);
    }
  }

  strong {
    display: block;
    margin: 0;
    padding: 6px 0 5px 10px;
    background: black;
    text-align: left;
    font-weight: normal;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.6);
    border-radius: $border-radius-base $border-radius-base 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  &:hover {
    strong {
      color: rgba(255,255,255,1);
    }
  }
}