$borderSize: 6px;

.thumbnail {
  //float: left;
  position: relative;
  display: inline-block;
  width: 22%;
  max-width: 300px;
  margin: 1.2%;
  border: solid 1px #E4E4E4;
  overflow: hidden;
  border-radius: $borderSize;
  text-decoration: none;
  font-size: 0;

  h2 {
    margin: 0;
    padding: 2px 0 2px 5px;
    background: black;
    font-weight: normal;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.6);
    border-radius: $borderSize $borderSize 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  &:hover h2 {
    color: rgba(255,255,255,1);
  }
}