$fontColor: #333;

#detail-template {
  &.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 30px;

    article {
      padding: 0 30px;
    }

    color: $fontColor;
  }

  section {
    margin-bottom: 80px;
  }

  .image-wrap {
    margin-bottom: 30px;
  }

  h1 {
    margin-bottom: 40px;
    text-indent: 10px;
    border-bottom: solid 1px #ddd;
    color: $fontColor;
  }

  h2 {
    margin-bottom: 40px;
    padding-left: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    border-left: solid 5px #000;
  }

  .list-wrap {
    ul {
      margin-left: 25px;
      list-style: none;

      strong {
        display: block;
      }
    }

    li {
      margin-bottom: 15px;
    }
  }

  .more-wrap {
    h3 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    div {
      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        width: 49%;
        height: 200px;
        justify-content: center;
        align-items: center;
        border: solid 1px #000;
      }
    }
  }
}

.image-wrap {
  height: 350px;
  overflow: hidden;
  border: solid 1px rgba(0,0,0,0.1);
  border-radius: 12px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

