#loader {
  position: fixed;
  top: 60px;
  left: calc(50% - (40px / 2));
  //left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
}

.spinner {
  width: 80%;
  height: 80%;
  margin: 0;
  background: transparent;
  border-top: 4px solid #03A9F4;
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 0.3s spin linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
